/* IE Version update TAB */
#VersionTab {
    z-index: 99999;
    position: absolute;
    top: 100px;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 22px;
    background-color: yellow;
    height: 100px;
    line-height: 100px;
    a {
      color: blue;
    }
}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.bg-center {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/Metropolis-Bold.otf");
  font-weight: 700;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "Avenir";
  color: #2D3442;
  font-weight: 300;
}
a {
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.outline {
  display: none;
}
#success_message {
  display: none;
  h3 {
    line-height: 1.5;
    font-size: 22px;
  }
}