.our-history {
    h3 {
        margin-bottom: 30px;
    }
    .year {
        font-weight: 600;
        color: $blue;
        font-size: 16px;
    }
    hr {
        width: 100%;
        height: 5px;
        background-color: $blue;
    }
    p {
        font-size: 14px;
    }
}



// SMALL DESKTOP
/*$screen-md:991px;$screen-lg:1200px;*/
@media (min-width: $screen-md) and (max-width: $screen-lg) {
    
}

// TABLET
/*$screen-sm:767px; $screen-md:991px;*/
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    
}

// MOBILE
/*$screen-sm:767px;*/
@media (max-width: $screen-sm) {
    
}