.services-widget {
    color: $white;
    background-image: url('../../images/logo-symbol.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 15% center;
    .service-wrapper {
        display: flex;
        margin-top: 20px;
        .service {
            position: relative;
            border: 2px solid $white;
            padding: 20px 30px;
            margin: 20px;
            img {
                width: 90px;
                padding: 0 20px 20px 20px;
                margin-left: 10px;
                margin-top: -45px;
            }
            p {
                font-size: 14px;
                margin-bottom: 40px;
            }
            .learn-more {
                position: absolute;
                bottom: 20px;
                right: 30px;
                img {
                    width: 20px;
                    margin: 0 10px 2px 0;
                    padding: 0;
                }
                a {
                    color: $yellow;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    
}


// SMALL DESKTOP
/*$screen-md:991px;$screen-lg:1200px;*/
@media (min-width: $screen-md) and (max-width: $screen-lg) {
    
}

// TABLET
/*$screen-sm:767px; $screen-md:991px;*/
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    
}

// MOBILE
/*$screen-sm:767px;*/
@media (max-width: $screen-sm) {
    
}