.margin-top {}

/* Typography */
h1,
.h1 {
  font-size: 46px;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 34px;
  text-transform: uppercase;
}

h3,
.h3 {
  text-transform: uppercase;
}

h4,
.h4 {
  text-transform: uppercase;
}

h5,
.h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

h6,
.h6 {
  text-transform: uppercase;
}

p {}

p.small {
  font-variant: small-caps;
}

b, strong {
  font-weight: bold;
}

.vh-100 {
  height: 100vh;
}

.view {
  height: 80vh;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.image-fit {
  @include image-fit
}

// Text
.text-l-blue {
  color: $l-blue;
}

.text-blue {
  color: $blue;
}

.text-transform-none {
  text-transform: none;
}

.text-italic {
  font-style: italic;
}

// Btn
.custom-btn {
  color: $blue;
  border: 1px solid $blue;
  text-transform: capitalize;
  margin: 0px;
}

.red-btn {
  margin-top: 100px;
  background-color: $red;
  width: 300px;
  font-size: 18px;

  img {
    width: 20px;
    margin-right: 20px;
  }

  &:hover {
    color: $blue;
  }
}

// Spacing
.py-default {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pb-default {
  padding-bottom: 40px;
}

.empty-slider {
  height: 118px;
}

// Main Content
.main-section {
  background-image: url('../../images/Maryland-Women.png'), url('../../images/Business-Center.png'), url('../../images/logo-symbol.png');
  background-size: 30%, 30%, contain;
  background-repeat: no-repeat;
  background-position: left 5% top, right 5% bottom, right 15% center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-desc {
  padding-top: 50px;
  padding-bottom: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin-bottom: 30px;
  }

  strong {
    font-weight: 600;
  }
}

.social {
  font-size: 20px;
  text-align: right;

  img {
    width: 25px;
    margin-right: 20px;
  }

  a {
    color: $blue;
    margin-left: 15px;
  }
}

.background-blue {
  background: $l-blue;
}

.background-l-blue {
  background: rgba(101, 178, 232, 0.15);
}

.background-blue-right {
  background: linear-gradient(90deg, $white 70%, rgba(101, 178, 232, 0.15) 30%);
}

.background-blue-left {
  background: linear-gradient(90deg, rgba(101, 178, 232, 0.15) 30%, $white 30%);
}

.hero-swiper {
  .mask {
    display: flex;
    align-items: flex-end;

    .content {
      margin: 0 auto 80px auto;
      padding: 15px 20px;
      background-color: rgba($color: black, $alpha: 0.4);
      color: $white;
      text-transform: uppercase;
      text-shadow: 1px 1px rgba($color: black, $alpha: 0.5);
      h1 {
        margin-bottom: 0px;
      }
      .text-l-blue {
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}


.content-with-list {
  h5 {
    text-transform: capitalize;
    color: $red;
    font-weight: 500;
  }

  img {
    width: 40px;
    margin-right: 20px;
  }

  ul {
    margin-top: 20px;
    line-height: 2;
  }
}

.google-map-wrapper {
  margin-bottom: -7px;

  iframe {
    width: 100%;
    height: 500px;
  }
}


// SMALL DESKTOP
/*$screen-md:991px;$screen-lg:1200px;*/
@media (min-width: $screen-md) and (max-width: $screen-lg) {}

// TABLET
/*$screen-sm:767px; $screen-md:991px;*/
@media (min-width: $screen-sm) and (max-width: $screen-md) {

  h1,
  .h1 {
    font-size: 40px;
  }
}

// MOBILE
/*$screen-sm:767px;*/
@media (max-width: $screen-sm) {

  h1,
  .h1 {
    font-size: 40px;
  }

  .py-default {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}