.careers-page {
    h4 {
        text-transform: none;
        color: $blue; 
        margin-bottom: 25px;     
    }
    h5 {
        color: $red;
        margin-bottom: 25px;
        span {
            text-transform: none;
            font-weight: 500;
        }
    }
    h6 {
        color: $blue;
    }
    a {
        color: $red;
        &:hover {
            color: $blue;
        }
    }
    .small-icon {
        width: 25px;
    }
    hr {
        background-color: $l-blue;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}