.donate-box-widget {
    background-color: $l-grey;
    .donate {
        width: 400px;
        height: 400px;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: $white;
        text-align: center;
        padding: 20px;
    }
}