.testimonials-widget {
    .testimonials-swiper {
        overflow: hidden;
        position: relative;
        padding-top: 30px;
        .swiper-pagination {
            position: absolute;
            top: 0px;
            left: 45px;
            bottom: auto;
            text-align: left;
            .swiper-pagination-bullet-active {
                background-color: $blue;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            top: 12px;
            &::after {
                content: none;
            }
            img {
                width: 20px;
            }
        }
        .swiper-button-next {
            right: 0;            
        }
        .swiper-button-prev {
            left: auto;
            right: 40px;
        }
    }

    .slider-image {
        padding-left: 50px;
    }
    .slider-text {
        display: flex;
        align-items: center;
        padding-left: 30px;
        h2, .h2 {
            margin-bottom: 40px;
        }
        p {
            font-weight: 500;
        }
        h4 {
            font-size: 38px;
            text-transform: capitalize;
            font-family: 'Pinyon Script';
        }
    }
}


// SMALL DESKTOP
/*$screen-md:991px;$screen-lg:1200px;*/
@media (min-width: $screen-md) and (max-width: $screen-lg) {
    
}

// TABLET
/*$screen-sm:767px; $screen-md:991px;*/
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    
}

// MOBILE
/*$screen-sm:767px;*/
@media (max-width: $screen-sm) {
    .testimonials-widget {
        .testimonials-swiper {
            .swiper-pagination {
                left: 30px;
            }
            .swiper-button-next {
                right: 30px;            
            }
            .swiper-button-prev {
                right: 70px;
            }
            .slider-image {
                padding: 0 30px 30px 30px;
            }
            .slider-text {
                display: flex;
                align-items: center;
                padding-left: 30px;
                h2, .h2 {
                    margin-bottom: 40px;
                }
                p {
                    font-weight: 500;
                }
                h4 {
                    font-size: 38px;
                }
            }
        }
    }
}